<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #personForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="person.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter your name"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>

      <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" [(ngModel)]="person.surname"
               class="form-control"
               id="surname"
               name="surname"
               placeholder="Enter your surname">
      </div>
      <div class="form-group">
        <label >Date of birth</label>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="person.dateOfBirth" matInput [matDatepicker]="picker" name="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label >Gender</label>
        <mat-form-field appearance="fill">
          <select matNativeControl [(ngModel)]="person.gender" name="gender">
            <option value=""></option>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
        </mat-form-field>
      </div>

      <button type="submit" [disabled]="!personForm.form.valid"
              class="btn btn-info">Save</button>
    </form>
  </div>
</div>
