/* You can add global styles to this file, and also import other style files */
.cdk-visually-hidden {
  visibility: hidden;
}
.bold {
  font-weight:bold
}
table, th, td {
  border-collapse: collapse;
  border: solid 1px;
}
