<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.css">
<script>document.write("<base href=\"" + document.location + "\" />");</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
<div class="card my-5">

  <form (ngSubmit)="onSubmit()">
    <label for="name" class="bold">Search fields</label>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="filter.name"
             class="form-control"
             id="name"
             name="name">
    </div>
    <div class="form-group">
      <label for="name">Surname</label>
      <input type="text" [(ngModel)]="filter.surname"
             class="form-control"
             id="surname"
             name="surname">
    </div>

    <div class="form-group">
      <label >Date of birth</label>
      <mat-form-field appearance="fill">
        <input [(ngModel)]="filter.dateOfBirth" matInput [matDatepicker]="picker" name="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label >Gender</label>
      <mat-form-field appearance="fill">
        <select matNativeControl [(ngModel)]="filter.gender" name="gender">
          <option value=""></option>
          <option value="MALE">Male</option>
          <option value="FEMALE">Female</option>
        </select>
      </mat-form-field>
    </div>

    <button type="submit" class="btn btn-info">Search</button>
    <button type="submit" (click)="resetFilter()" class="btn btn-info">Clear filter</button>
  </form>

  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Gender</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.id }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.surname }}</td>
        <td>{{ person.dateOfBirth | date :'yyyy-MM-dd' }}</td>
        <td>{{ person.gender }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
